html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

header{
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    margin: 0;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header h1 span{
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.eightball-background{
    background-color: black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eightball-number-background{
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.eightball-display{
    font-size: 5em;
    font-weight: bold;
    color: black;
}

#question {
    font-size: 1.5em;
    color: hsl(0, 55%, 51%);
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid hsl(0, 55%, 51%);
    border-radius: 5px;
    margin-top: 20px;
}
input[type="text"]:focus {
    outline: none;
    border-color: hsl(0, 84%, 80%);
}
input[type="text"]::placeholder {
    color: hsl(0, 55%, 51%);
    opacity: 0.7;
}
input[type="text"]:focus::placeholder {
    color: hsl(0, 84%, 80%);
    opacity: 1;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color:hsl(0, 55%, 51%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: hsl(0, 84%, 80%);
}
button:active {
    background-color: hsl(0, 100%, 50%);
}
button:focus {
    outline: none;
}